/*------------------------------------*\
          Contenidos del HTML 
\*------------------------------------*/
/*
 /*-------Contenidos del HTML---------*\ 
    - Header >>>    Contiene el titulo, imagen etc del ranking.
    - Body >>>      Contiene la tabla con usuarios y tareas y sus respectivas puntuaciones
    - Footer >>>    Contiene informacion adicional.
    - Navegacio >>> Contiene los botones de navegacion del menu
    - Media >>>
 \*-------------------------------------*/

/* Header */
.header {
  text-align: center;
  font-size: 125%;
}
a {
  text-decoration: none;
}
.header_title {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:black;
}

.header_title:hover {
  color:red
}

/* Navigation */

.navigation {
  text-align: center;
  overflow: hidden;
  
}

.navigation_button {
  background-color:aquamarine;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.navigation_button:hover {
  background: rgba(0,0,0,0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
 
}


/* Body */
.body {
  background: radial-gradient(#FEF9BF, #67C3E6);
}
.main {
  overflow-x: auto;
  width: 100%;

 }
 .main_tableRanking{
  display: flex;
  justify-content: center;
  align-items: center;

}

.main_table{
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  animation-name:main_table;
  animation-duration:3s; 
  animation-iteration-count:1;
}
@keyframes main_table{
  from { 
    transform: scaleX(-1);
   }
  to   {
     transform: scaleX(1);
     }
}
td {
  color:black;
  padding: 20px 30px;
}
tr:nth-child(odd) {
  background-color:chartreuse;
}
tr:nth-child(even) {
  background-color: lime;
}

table tbody tr:hover {
  background-color: limegreen;
  box-shadow: 0px 0px 70px black;
}

/* Footer */
.footer {
  text-align: center;
}

/* New Student */

.main_student {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  margin: 0 auto;
  overflow-x: auto;
  box-sizing: border-box;
  padding: 30px 25px;
  margin-top: 40px;
  background-color:bisque;
  border-radius: 40px;
  width: 40%;
   animation-name:main_student;
  animation-duration:3s; 
  animation-iteration-count:1; 

}
 @keyframes main_student{
  from { 
    transform: scaleX(-1);
   }
  to   {
     transform: scaleX(1);
     }
} 
.main_stundent_button {
  margin-top: 5px;
  background-color: white;
  border: 1px solid green;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px ;
  border-radius: 60px;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  
}
.main_stundent_button:hover {
  color: white;
  background-color: darkgreen
 }
/* New GradedTask */
.main_task{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 75%;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color:bisque;
  border-radius: 40px;
  margin: 0 auto;
  animation-duration: 3s;
  animation-name: main_task;
}
@keyframes main_task {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.main_task_textarea{
  width:650px;
  height:200px;
  text-align: center;
  border: 2px  dotted green;
  border-radius: 60px;
}

input[type="text"] {
  background-color: none;
  border: 2px dotted green;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: black;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
  text-align: center;
}
input[type="number"] {
  background-color: none;
  border: 2px dotted green;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: black;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  text-align: center;
}
.main_task_button {
    margin-top: 5px;
    background-color: white;
    border: 1px solid red;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px ;
    border-radius: 60px;
    color: black;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
}
.main_task_button:hover {
  color: white;
  background-color: green
}

/* Details Student */

.main_details {
  text-align: center;
}
.main_details_title{
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
	color:linear-gradient(to top left, #67C3E6, #FEF9BF);
	font-size: 50px;
}

ul {
  padding-left: 2rem;
  list-style-type: none;
}
ul li {
  padding-left: 2rem;
  padding-top:1em;
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

li {
  background-image: url(./star.svg);
}


/* Responsive for Tablet*/
@media screen and (max-width: 768px) {

  .header {
    text-align: center;
  }
  .header_title { 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 125%;
}
  .header_picture{
    display: none;
  }

  .navigation {
    text-align: center;
    
  }
  .navigation_button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
	.main {
    text-align: center;
    overflow-x: auto;
    padding-left: 50px;
   
  }
  .main_student {
    text-align: center;
    width: 40%;
    margin-right: 225px;
    padding: 0px;
  }
  .main_task {
    text-align: center;
    margin-left: -10px;
    width: 95%;
   
  }
  .footer {
    text-align: center;
    font-size: 80%;
  }
}

/* Responsive for Mobile*/
@media screen and (max-width: 320px) {

  .header {
    text-align: center;
  }
  .header_title { 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 125%;
}
  .header_picture{
    display: none;
  }

  .navigation {
    text-align: center;
  }
  .navigation_button{
    width: 100%;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
	.main {
    overflow-x: auto;
    width:100%;
    text-align: left;
    padding-left: 40px;
   
  }
  
  .main_student {
    text-align: center;
    width: 60%;
    margin-left: 20px;
    padding: 0px;
  }
  .main_task {
    text-align: center;
    width: 82%;
   
  }
  input {
    width: 40%;
  }
  
  .footer {
    text-align: center;
    font-size: 80%;
  } 
}
